---
import LatestNote from './LatestNote.astro';
---
<div class="w-full max-w-2xl mt-12 md:mt-14" data-aos="fade-up" data-aos-delay="0">
  <h2
    class="text-xl font-bold mb-6 md:mb-8 text-center text-gray-700 relative tracking-wider"
  >
    <span class="relative z-10">Latest on note</span>
    <div
      class="absolute -bottom-2 left-1/2 transform -translate-x-1/2 w-16 h-0.5 bg-gradient-to-r from-pink-500 to-yellow-500"
    ></div>
  </h2>
  <LatestNote />
</div>
